@media (max-width: 768px) {
  .rowstyle {
    display: flex;
    flex-direction: column-reverse !important;
  }

}

.about-box {
  border-bottom: 5px solid;
  border-left: 5px solid;
  border-style: solid;
  border-color: black;
}

.about-box:hover {
  border-top: 5px solid;
  border-right: 2px solid;
  border-left: 5px solid;
  border-bottom: 2px solid;
  border-style: solid;
  border-color: coral;
}
