#project-card {
  border-bottom: 5px solid;
  border-left: 5px solid;
  border-style: solid;
  border-color: black;
}

#project-card:hover {
  border-color: coral;
}

.project-title {
  text-shadow: 2px 2px coral, 1px 1px coral;
}
